.App {
  text-align: center;
  background-color: #061505;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.App button{
  width: 100px;
  height: 40px;
  margin: 1em;
  background-color: rgb(23, 174, 174);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cards{
  display: flex;
  width: 80%;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
}





